html {
  scroll-behavior: smooth;
}

main {
  padding-top: 6vh;
  padding-bottom: 6vh;
  margin-left: 3vw;
  margin-right: 3vw;
}
body {
  font-family: "Cormorant Garamond", serif;
  background-color: #3a3a3a;
}

body::-webkit-scrollbar {
  display: none;
}

.nome__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
  margin-right: 35px;
}

.nome_site {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
}

.logo {
  width: 50px;
}

.section_title {
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  color: #ffffff;
}

.section_text {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 300;
}

.mapa_box {
  margin: 35px 0;
}
