header {
  background-image: url("../../img/background.jpg");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  text-align: center;
  padding-top: 15px;
  box-shadow: 2px 2px 25px 15px rgba(0, 5, 10, 0.2);
  background-size: cover;
}
header h1 {
  margin: 0;
}
