main {
  padding-top: 120px;
  padding-bottom: 60px;
  margin-left: 35px;
  margin-right: 35px;
}
body {
  font-family: "Cormorant Garamond", serif;
  background-color: #3a3a3a;
}

.nome__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
  margin-right: 35px;
}

.nome_site {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
}

.logo {
  width: 50px;
}

.section_title {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 35px;
  color: #ffffff;
}
.section_text {
  font-family: "Cormorant Garamond", serif;
  font-weight: 100;
  font-size: 25px;
  color: #ffffff;
}
