nav {
  background-color: #943b00;
  color: #ffffff;
  text-align: center;
  padding: 1vh;
  margin-top: 1vh;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  margin-right: 1vw;
  margin-left: 1vw;
}
nav li {
  list-style: none;
}
nav a {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 300;
}

nav a:hover {
  color: #ffee00;
  transition: 0.5s;
}
