{% extends 'base.html' %} {% block content %}

<main>
  <section id="contato">
    <h1 class="section_title">CONTATO</h1>
    <p class="section_text">
      Acompanhe nossos trabalhos e fique sabendo de todas as nossas promoções.
      <br />
      Aproveita e entra em contato conosco pra marcar agora mesmo a sua
      tatuagem!
    </p>
    <div class="info_section">
      <div class="info_box">
        <a
          target="_blank"
          href="tel:04130188452"
          class="contato_telefone"
          alt="Ligar para o Lobby Tattoo"
        >
          <img class="info_icon" src="../static/img/telephone.png" />
          <p class="contato_info_text">(41) 3018-8452</p>
        </a>
      </div>

      <div class="info_box">
        <a
          target="_blank"
          href="https://www.instagram.com/lobbytattoo/"
          class="contato_email"
          alt="Acessar Instagram do Lobby Tattoo"
        >
          <img
            target="_blank"
            class="info_icon"
            src="../static/img/instagram.png"
          />
          <p class="contato_info_text">@lobbytattoo</p>
        </a>
      </div>

      <div class="info_box">
        <a
          target="_blank"
          href="https://wa.me/5541999361643"
          class="contato_telefone"
          alt="Enviar Whatsapp para o Lobby Tattoo"
        >
          <img class="info_icon" src="../static/img/whatsapp.png" />
          <p class="contato_info_text">(41) 99936-1643</p>
        </a>
      </div>

      <div class="info_box">
        <a
          target="_blank"
          href="https://www.facebook.com/lobbytattoo"
          class="contato_endereco"
          alt="Página do Facebook do Lobby Tattoo"
        >
          <img class="info_icon" src="../static/img/facebook.png" />
          <p class="contato_info_text">LOBBY TATTOO</p>
        </a>
      </div>

      <div class="info_box">
        <a
          target="_blank"
          href="mailto:lobbytattoo@gmail.com"
          class="contato_email"
          alt="Enviar email para o Lobby Tattoo"
        >
          <img class="info_icon" src="../static/img/mail.png" />
          <p class="contato_info_text">lobbytattoo@gmail.com</p>
        </a>
      </div>
    </div>

    <h1 class="section_title">COMO CHEGAR</h1>
    <p class="section_text">
      O Lobby Tattoo fica na região norte de Curitiba, próximo ao terminal do
      Boa Vista, em frente à Estação Tubo Holanda . <br />
      Atendemos somente com hora marcada.
    </p>

    <div class="mapa_box">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2548.53123208018!2d-49.24568962212176!3d-25.39920546622467!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x137ef04bd0946b1e!2sLOBBY%20TATTOO!5e0!3m2!1spt-BR!2sbr!4v1673907334384!5m2!1spt-BR!2sbr"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div class="info_box_location">
      <a
        target="_blank"
        href="https://goo.gl/maps/xURbqJiGEuYzwzYJ6"
        class="contato_endereco"
      >
        <p class="contato_info_text">
          Av. Paraná, 1670 - sala 05 - Bacacheri, Curitiba - PR - 82510-000
        </p>
      </a>
    </div>
  </section>
</main>

{% endblock %}
