{% extends 'base.html' %} {% block content %}

<main>
  <section id="sobre">
    <h1 class="section_title">SOBRE</h1>
    <div class="capa">
      <img class="capa_img" src="../static/img/frente_lobbytattoo.png" />
    </div>

    <p class="section_text">
      A Lobby Tattoo é um estúdio de tatuagem e aplicação de piercing localizado
      em Curitiba. <br />
      Fundado em 2015 pelo tatuador Marcos Cruz, que possui mais de 20 anos de
      experiência na área, o estúdio se destaca por oferecer um ambiente
      acolhedor e profissional, onde os clientes podem realizar suas tatuagens e
      piercings com segurança e conforto. <br />
      Os tatuadores e piercers da Lobby Tattoo são altamente qualificados e
      experientes, e estão sempre dispostos a ajudar os clientes a escolher o
      desenho e a área do corpo perfeitos para sua tatuagem ou piercing. <br />
      Além disso, a Lobby Tattoo oferece promoções e descontos frequentes para
      seus clientes, incluindo pagamento em até 3 vezes sem juros ou descontos
      de 15% no pagamento à vista. <br />
      Convidamos todos a conhecer o estúdio Lobby Tattoo e experimentar a
      excelência em tatuagem e piercing. <br />
      Agende sua visita e dê vida à sua arte corporal com a gente!
    </p>
  </section>

  <div class="divider"></div>

  <section id="equipe">
    <h1 class="section_title">EQUIPE</h1>
    <div class="equipe_membro_box">
      <div class="membro_image_box">
        <img class="membro_image" src="../static/img/foto_marcos_lobby.jpg" />
      </div>
      <div class="membro_descricao">
        <p class="section_text">
          Marcos Cruz é um experiente tatuador com mais de 20 anos de história
          na arte da tatuagem. <br />
          Fundador da Lobby Tattoo, ele é conhecido por sua habilidade em criar
          desenhos incríveis e por seu trabalho cuidadoso e profissional. <br />
          Ele é reconhecido por sua atenção aos detalhes e sua capacidade de
          transformar as ideias dos clientes em tatuagens incríveis.
        </p>
      </div>
    </div>

    <div class="equipe_membro_box">
      <div class="membro_descricao">
        <p class="section_text">
          Lorelay Bodyart é tatuadora, body piercer e ilustradora há mais de 5
          anos. <br />
          Ela trabalha com blackwork, old school, traços finos, aplicação de
          piercing e planejamento de tattoo.
        </p>
      </div>
      <div class="membro_image_box">
        <img class="membro_image" src="../static/img/foto_lorelay_lobby.jpg" />
      </div>
    </div>
  </section>
</main>

{% endblock %}
