#contato {
  margin: 35px 0;
}

.contato_text {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 300;
}

.contato_info_text {
  font-size: 1rem;
}

.info_section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5vh 0;
}

.info_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 30px;
}

.info_box a {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 3vh;
  align-items: center;
  text-align: center;
}

.info_icon {
  max-width: 2vw;
  margin: 3vh 0;
}

.info_box_location {
  text-decoration: none;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 30px;
}

.contato_endereco {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 300;
  display: flex;
  text-decoration: none;
  padding: 3vh;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.info_section a:hover {
  color: orange;
}

.contato_endereco :hover {
  color: orange;
}

.info_box_location {
  transition-property: all;
  transition-duration: 2s;
}
