.listagem_post {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1vh;
  grid-row-gap: 2vh;
  animation: loadTransition 0.75s;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  padding-bottom: 5vh;
}

.listagem_post_item {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.fb_post {
  width: 100%;
  height: 60vh;
}

@media only screen and (max-device-width: 1780px) {
  .listagem_post {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-device-width: 1200px) {
  .listagem_post {
    grid-template-columns: 1fr;
    grid-row-gap: 2vh;
    grid-column-gap: 2vh;
  }
}
